<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
<script src='https://d3js.org/d3.v5.js'></script>
 <svg id='pravljenje'>
     <defs>
         <marker id="strelica" viewbox="0 -5 10 10" refX="18" refY="0"
                 markerWidth="6" markerHeight="6" orient="auto">
             <path d="M0,-5L10,0L0,5Z">
         </marker>
    </defs>

 </svg>



 <style>
    text {
      font-family: sans-serif;
      font-size: 10px;
    }

    </style>

<h3 id="test"></h3>
<h1 id="nevidljivi" style="visibility: hidden"></h1>
 <script>
     var width = 800;
 var height = 500;
 var color = d3.scaleOrdinal(d3.schemeCategory10);
 var active = d3.select(null);
 var temp123 = d3.select(null);
 var kliknut = d3.select(null);
 var zoom = d3.zoom()
    .scaleExtent([1 / 2, 4])
    .on("zoom", zoomed);
 //postavljanje cvorova i veza izmedju tih cvorova

 var nodes = [PLACEHOLDERNODES]
var links = [PLACEHOLDERLINKS]

 //pokretanje simulacije i postavljenje raznih opcija
     var simulation = d3.forceSimulation(nodes)
     .force('center', d3.forceCenter(width / 2, height / 2))
     .on('tick', ticked);

     simulation.force('charge', d3.forceManyBody().strength(-20))
     //veze
     simulation.force('link', d3.forceLink().links(links));

     var svg = d3.select("#pravljenje").attr("width", width).attr("height", height);
     var container = svg.append("g");
 //da moze da zumira i da se pomera po ekranu
     svg.call(
         d3.zoom()
             .scaleExtent([.1, 4])
             .on("zoom", function() { container.attr("transform", d3.event.transform); })
     );
 //postavljanje atributa linka
     var link = container.append("g").attr("class", "links")
         .selectAll("line")
         .data(links)
         .enter()
         .append("line")
         .attr("stroke", "#aaa")
         .attr("marker-end", "url(#strelica)")
         .attr("stroke-width", "1px");
 //postavljanje atributa cvora
     var node = container.append("g").attr("class", "nodes")
         .selectAll("g")
         .data(nodes)
         .enter()
         .append("circle")
         .attr("r", 5)
         .attr("fill", function(d) { return color(d.group); })
         .call(d3.drag()
           .on("start", dragstarted)
           .on("drag", dragged)
           .on("end", dragended))   ;

//postavljanje atributa pisanja
    var i = -1
    var text = container.append("g").attr("class", "nodes")
        .selectAll("text")
        .data(nodes)
        .enter()
        .append("text")
        .text(function(d) {i++; return nodes[i][i].split('|')[0]; })
        .style("fill", "#555")
        .style("font-family", "Times New Roman")
        .style("font-size", 12)

 //za crtanje linija izmedju cvorova
     function PisanjeLinkova() {
         var u = d3.select('.links')
             .selectAll('line')
             .data(links)

         u.enter()
             .append('line')
             .merge(u)
             .attr('x1', function(d) {
             return d.source.x
             })
             .attr('y1', function(d) {
             return d.source.y
             })
             .attr('x2', function(d) {
             return d.target.x
             })
             .attr('y2', function(d) {
             return d.target.y
             })

         u.exit().remove()
     }
 //za crtanje cvorova
     function PisanjeKrugova(){
         var u = d3.select('#pravljenje')
             .selectAll('circle')
             .data(nodes)

             u.enter()
             .append('circle')
             .attr('r', 5)
             .merge(u)
             .attr('cx', function(d) {
                 return d.x
             })
             .attr('cy', function(d) {
                 return d.y
             })

             u.exit().remove()
     }

     //pisanje teksta
     function pisanjeTeksta(){
        var u = d3.select('#pravljenje')
             .selectAll('text')
             .data(nodes)

             u.enter()
             .append('text')
             .merge(u)
             .attr("x", function(d) { return d.x+5; })
            .attr("y", function(d) { return d.y+2; })

             u.exit().remove()
     }
    //uzimanje detalja kada kliknemo na cvor
     d3.selectAll('circle')
      .on('click', function (d, i) {
          document.getElementById("nevidljivi").innerHTML = i;
          var lista = nodes[i][i].split('|');
          if (lista.length==2)
              if (lista[1]!=="")
                document.getElementById("test").innerHTML = temp = "Naziv:" + lista[0]+ "<br/>Opis: "+lista[1];
              else
                  document.getElementById("test").innerHTML = temp = "Naziv:" + lista[0];
          else
              document.getElementById("test").innerHTML = temp = "Naziv:" + lista[0];
          if (active.node() === this) {
              active.classed("active", false);
              active = d3.select(null);
              svg.transition()
                  .duration(750)
                  .call(zoom.transform,
                    d3.zoomIdentity
                    .translate(0, 0)
                    .scale(1)
                  );
              oznaciStablo(i)
          }else {
              active.classed("active", false);
              active = d3.select(this).classed("active", true);
              svg.transition()
                  .duration(750)
                  .call(zoom.transform,
                      d3.zoomIdentity
                          .translate(width / 2, height / 2)
                          .scale(8)
                          .translate(-(+active.attr('cx')), -(+active.attr('cy')))
                  );
              oznaciStablo(i)
          }
      });

    function selektovanKrug(id){
        i=id;

        var circles = d3.selectAll('circle');
        var lista = circles._groups
        var cvor = d3.selectAll('circle')._groups[0][id];

        var lista = nodes[i][i].split('|');
          if (lista.length==2)
              if (lista[1]!=="")
                document.getElementById("test").innerHTML = temp = "Naziv:" + lista[0]+ "<br/>Opis: "+lista[1];
              else
                  document.getElementById("test").innerHTML = temp = "Naziv:" + lista[0];
          else
              document.getElementById("test").innerHTML = temp = "Naziv:" + lista[0];
          if (kliknut == id) {
              temp123.classed("active", false);
              temp123 = d3.select(null);
              svg.transition()
                  .duration(750)
                  .call(zoom.transform,
                    d3.zoomIdentity
                    .translate(0, 0)
                    .scale(1)
                  );
              kliknut=null;
          }else {
              temp123.classed("active", false);
              temp123 = d3.select(d3.selectAll('circle')._groups[0][id]).classed("active", true);
              kliknut=id;
              svg.transition()
                  .duration(750)
                  .call(zoom.transform,
                      d3.zoomIdentity
                          .translate(width / 2, height / 2)
                          .scale(8)
                          .translate(-(+temp123.attr('cx')), -(+temp123.attr('cy')))
                  );
          }
    }

    function zoomed() {
        container.attr("transform", d3.event.transform);
      }

     //crtanje svega ukupno

         function ticked() {
             PisanjeLinkova();

             PisanjeKrugova();

             pisanjeTeksta();
             bird();
            }


         function dragstarted(d) {
             if (!d3.event.active) simulation.alphaTarget(0.3).restart();
             d.fx = d.x;
             d.fy = d.y;
           }

           function dragged(d) {
             d.fx = d3.event.x;
             d.fy = d3.event.y;
           }

           function dragended(d) {
             if (!d3.event.active) simulation.alphaTarget(0);
             d.fx = null;
             d.fy = null;
           }
 </script>
