<script src='https://d3js.org/d3.v5.js'></script>

<style>
  .node {
  cursor: pointer;
  color: #3182bd;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
</style>
<div>
    <svg id = "pravljenje">

    </svg>
</div>

<h3>
    <p id = "podaciOobjektu"> Podaci o selektovanom objektu: </p>
</h3>

<script>
    function ispisInformacijaOobjektu(id, naziv, atributi){


        var redefinisanString = (atributi.startsWith("["))? atributi.substring(1, atributi.length-1):atributi;

        //trebam da selektujem p tag sa odredjenim nazivom sa html stranice i da mu postavim text i stil odredjeni
        var pTag = document.querySelector("#podaciOobjektu");
        pTag.innerText = "Podaci o selektovanom objektu su: \n" +
                       "Naziv seletovanog cvora je: " + naziv +
                       "\nId selektovanog cvora je: " + id +
                       "\nAtributi selektovanog cvora su: " + redefinisanString ;
    }
</script>
<h1 id="nevidljivi" style="visibility: hidden"></h1>

<script>

    var width = 800;
    var height = 500;

    var nodes = [ZAMENA_CVOROVA]
    var links = [ZAMENA_GRANA]
    var zoom = d3.zoom()
        .scaleExtent([1 / 2, 4])
        .on("zoom", zoomed);
    var active = d3.select(null);
     var temp123 = d3.select(null);
     var kliknut = d3.select(null);

    //pokretanje simulacije i postavljenje raznih opcija
     var simulation = d3.forceSimulation(nodes)
     .force('center', d3.forceCenter(width / 2, height / 2))
     .on('tick', ticked);

     simulation.force('charge', d3.forceManyBody().strength(-100))

     //veze
     simulation.force('link', d3.forceLink().links(links).distance(100).strength(1));
    var svg = d3.select("#pravljenje").attr("width", width).attr("height", height);


    var grupa = svg.append("g");


    //grupa.append("circle").attr("fill", "red")
    //    .attr("r", 50)
    //    .attr("cx", 500)
    //    .attr("cy", 500);


    //********************************************************************

    // ********strelica na granama
    svg.append("svg:defs").append("svg:marker")
        .attr("id", "strelica")
        .attr('markerUnits', 'strokeWidth')
        .attr("refX", 7)
        .attr("refY", 0)
        .attr("markerWidth", 7)
        .attr("markerHeight", 10)
        .attr("orient", "auto")
        .attr("viewbox", "-5 -5 10 10")
        .append("path")
        .attr("d", "M 0,0 m -5,-5 L 5,0 L -5,5 Z")
        .style("stroke", "black");

    //******* grane **********
    var link = grupa.selectAll('.link').attr("class", "link")
        .data(links)
        .enter().append("line")
        .attr("stroke", "#aaa")
        .attr("marker-end", "url(#strelica)")
        .attr("stroke-width", "1px");


    //********* dodavanje grupa za cvorove
    var node = grupa.selectAll('.node') //
        .data(nodes) //add
        .enter().append('g')
        .attr('class', 'node')
        .attr('id', function(d){

            return d.id;

        })
        .on('click',function(d){
            var naziv = nodes[d.id.substring(2,)][d.id.substring(2,)];
           ispisInformacijaOobjektu(d.id, naziv, d.atributi);

        })
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

    d3.selectAll('.node').each(function(d){slozenPrikaz(d);});

    function slozenPrikaz(d){
      var duzina=150;
      var niz = d.atributi.split(', ');

      var brAtributa=niz.length;


      var textSize=10;
      var visina=(brAtributa==0)?textSize:brAtributa*textSize;
      visina+=textSize;


      //Ubacivanje kvadrata
      d3.select("g#"+d.id).append('rect').
      attr('x',0).attr('y',0).attr('width',duzina).attr('height',visina)
      .attr('fill','yellow');

      //ubacivanja naslova cvora
      d3.select("g#"+d.id).append('text').attr('x',duzina/2).attr('y',10)
      .attr('text-anchor','middle')
      .attr('font-size',textSize).attr('font-family','sans-serif')
      .attr('fill','green').text(nodes[d.id.substring(2,)][d.id.substring(2,)]);

      //ubacivanje linije(razdelnika)
      d3.select("g#"+d.id).append('line')
      .attr('x1',0).attr('y1',textSize).attr('x2',duzina).attr('y2',textSize)
      .attr('stroke','gray').attr('stroke-width',2);

      //ubacivanje atributa
      var redefinisanString = (d.atributi.startsWith("["))? d.atributi.substring(1, d.atributi.length-1):d.atributi;
      var mojNiz = redefinisanString.split(', ');


      for(var i=0;i<brAtributa;i++)
        {

          d3.select("g#"+d.id).append('text').attr('x',0).attr('y',20+i*textSize)
          .attr('text-anchor','start')
          .attr('font-size',textSize).attr('font-family','sans-serif')
          .attr('fill','green').text(mojNiz[i]);

        }
    }

    function ticked(){

        node.attr("transform", function(d) {return "translate(" + d.x + "," + d.y + ")";});

        link.attr('x1', function(d) { return d.source.x; })
            .attr('y1', function(d) { return d.source.y; })
            .attr('x2', function(d) { return d.target.x; })
            .attr('y2', function(d) { return d.target.y; });
        bird()
    }



    // zumiranje i pomeranje
    svg.call(
         d3.zoom()
             .scaleExtent([.1, 4])
             .on("zoom", function() { grupa.attr("transform", d3.event.transform); })
     );

    //Ovde je povezn sa drvetom
    d3.selectAll(".node")
      .on('click', function (d, i) {
          var naziv = nodes[d.id.substring(2,)][d.id.substring(2,)];
          ispisInformacijaOobjektu(d.id, naziv, d.atributi);
          document.getElementById("nevidljivi").innerHTML = i;
           if (active.node() === this) {
              active.classed("active", false);
              active = d3.select(null);

              oznaciStablo(i)
          }else {
              active.classed("active", false);
              active = d3.select(this).classed("active", true);

              oznaciStablo(i)}
      });
    //ovo je isto vazno i vezano je sa drvetom
    function selektovanKrug(id){
        i=id;

        var circles = d3.selectAll('.node');
        var lista = circles._groups
        var cvor = d3.selectAll('.node')._groups[0][id];
        var naziv = nodes[id];

        ispisInformacijaOobjektu(id, naziv[id], naziv.atributi);
          if (kliknut == id) {
              temp123.classed("active", false);
              temp123 = d3.select(null);

              kliknut=null;
          }else {
              temp123.classed("active", false);
              temp123 = d3.select(d3.selectAll('rect')._groups[0][id]).classed("rect", true);
              kliknut=id;

          }
    }
    //---------------------------------
    function dragstarted(d) {
             if (!d3.event.active){
                simulation.alphaTarget(0.5).restart();
             }
             d.fx = d.x;
             d.fy = d.y;
    }

    function dragged(d) {
             d.fx = d3.event.x;
             d.fy = d3.event.y;
    }

    function dragended(d) {
             if (!d3.event.active) simulation.alphaTarget(0);
             d.fx = null;
             d.fy = null;
    }

    function zoomed() {
        grupa.attr("transform", d3.event.transform);
    }





</script>