<html>
<head>
    <title>Projekat</title>
    {% load static %}
</head>
<body>
<form method="POST" action="{% url 'ucitavanje_plugin' %}" enctype="multipart/form-data" >{% csrf_token %}
<div >
    <input type="file" id="lokacijaFajl" name="lokacijaFajl">
</div>
<div >
    {% if plugini_ucitavanje %}
        <select id="ucitaj" name="ucitaj">
            {% for p in plugini_ucitavanje %}
                <option value="{{p.identifier}}">{{p.naziv}}</option>
            {% endfor %}
        </select>
    {% else %}
        <h3>Nema prepoznatih plugina za ucitavanje</h3>
    {% endif %}
</div>
    <button type="submit">Ucitaj</button>
</form>
<form method="POST" action="{% url 'vizuelizacija_plugin' %}">{% csrf_token %}
<div >
    {% if plugini_vizuelizacija %}
        <select id="iscrtaj" name="iscrtaj">
        {% for p in plugini_vizuelizacija %}
            <option value="{{p.identifier}}">{{p.naziv}}</option>
        {% endfor %}
        </select>
    {% else %}
        <h3>Nema ucitanih plugina za vizulizaciju!</h3>
    {% endif %}
</div>
<button type="submit">Nacrtaj</button>
</form>

    <form class="search" method = "POST" action = "{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name = "search" placeholder="Unesite atribut">
        <input type="submit" class="submit" value="Pretrazi">
    </form>

    <form class="filter" method = "POST" action = "{% url 'filter' %}">
        {% csrf_token %}
        <input type="text" name = "nazivAtributa" placeholder="Unesite naziv atribut">
        <select name="operator">
            <option value=">"> > </option>
            <option value="<"> < </option>
            <option value=">="> >= </option>
            <option value="<="> <= </option>
            <option value="=="> == </option>
            <option value="!="> != </option>
        </select>
        <input type="text" name = "vrednostAtributa" placeholder="Unesite vrednost">
        <input type="submit" class="submit" value="Filtriraj">
    </form>
    <form id="forma" class="identify" method = "POST" action = "{% url 'identify' %}">
        {% csrf_token %}
        <input type="number" name = "identify" placeholder="Unesite identifikator cvora">
        <input type="submit" class="submit" value="Pretrazi">
        <div id="poruka"></div>
    </form>

<div style="position:absolute; width:510px; height: 100%;">{{rrtree|safe}}</div>

<div style="margin-left: 520px; height:500px; width:800px; margin-bottom:10px; margin-right:30px;border: 15px solid green; background-color: rgb(255, 255, 255);" >
    <svg id="bird" style=" position: absolute; height:150px;  float: left; width:200px; background-color: rgb(230, 230, 230);">
        </svg>
    {{ stablo | safe }}</div>
<script src={% static "minimapa.js" %}></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var frm = $('#forma');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#poruka").html(data);
            },
            error: function(data) {
                $("#poruka").html("Something went wrong!");
            }
        });
        return false;
    });
</script>
</body>
</html>